<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Announces List</title>
</head>
<body>
<form th:action="@{/index/user/} + ${id}" method="post">
    <input id="newLink1" name="newLink" th:value="@{redirect:/announcement/getOthers/} + ${id}" type="hidden">
    <input type="submit" value="See announces"/>
</form><br>

<form th:action="@{/index/user/} + ${id}" method="post">
    <input id="newLink3" name="newLink" th:value="@{redirect:/announcement/getMine/} + ${id}" type="hidden">
    <input type="submit" value="My Announces"/>
</form><br>
</body>
</html>
